<footer class="footer pl-30 pr-30">
				<div class="container">
					<div class="row">
						<div class="col-sm-4">
							<p>Sledz Przesyłki © {{ year }}</p>
						</div>
                        <div class="col-sm-4 text-center central-text">
            <p>Informacje są odświeżane co 10 minut.</p>
        </div>
						<div class="col-sm-4 text-right">
							<p>Znajdz nas na</p>
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-google-plus"></i></a>
						</div>
					</div>
				</div>
			</footer>