<div class="table-struct full-width full-height" style="height: 463px;">
						<div class="table-cell vertical-align-middle auth-form-wrap">
							<div class="auth-form  ml-auto mr-auto no-float">
								<div class="row">
									<div class="col-sm-12 col-xs-12">
										<div class="mb-30">
											<span class="block error-head text-center txt-danger mb-10">404</span>
											<span class="text-center nonecase-font mb-20 block error-comment">Nie odnaleziono strony</span>
											<p class="text-center">Wyszukiwana strona nie została znaleziona.</p>
										</div>	
									</div>	
								</div>
							</div>
						</div>
					</div>