<div class="row heading-bg">
						<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
						  <h5 class="txt-dark">FAQ</h5>
						</div>
						<!-- Breadcrumb -->
						<div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
						  <ol class="breadcrumb">
							<li><a href="/">Strona Główna</a></li>
							<li class="active"><span>faq</span></li>
						  </ol>
						</div>
						<!-- /Breadcrumb -->
					</div>

<div class="row">
						<div class="col-md-12">
							<div class="panel panel-default card-view">
                                <div class="panel-header">Podstawy</div>
								<div class="panel-wrapper collapse in">
									<div class="panel-body pa-15">
										<div class="panel-group accordion-struct" role="tablist" aria-multiselectable="true">
											<div class="panel panel-default">
												<div class="panel-heading" role="tab" id="headingFive">
													<a role="button" data-toggle="collapse" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive" class="collapsed">Gdzie znajdę śledzenie mojej przesyłki krajowej lub zagranicznej?</a> 
												</div>
												<div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive" aria-expanded="false" style="height: 0px;">
													<div class="panel-body pa-15">Aby sprawdzić aktualny status przesyłki wystarczy wejść na stronę sledzja.pl, wcisnąc przycisk dodaj przesyłkę aby sledzić ją poprzez nasz system</div>
												</div>
											</div>
											<div class="panel panel-default">
												<div class="panel-heading" role="tab" id="headingSix">
													<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">Co oznacza status "przesyłka w transporcie"?</a>
												</div>
												<div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix" aria-expanded="false" style="height: 0px;">
													<div class="panel-body pa-15">Status ten znaczy dokładnie... NIC. Absolutnie nie przesądza to o opłatach typu VAT/cło, nie oznacza to również podróży do kolejnego WER albo docelowego UP. Status ten generowany jest automatycznie, zawsze o pełnych godzinach (czasem nawet nieistniejących). Status został wprowadzony prawdopodobnie tylko w celu zmniejszenia liczby telefonów na infolinię.</div>
												</div>
											</div>
											<div class="panel panel-default">
												<div class="panel-heading" role="tab" id="headingSeven">
													<a class="collapsed" role="button" data-toggle="collapse" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">Ile czasu będzie szła moja paczka?</a>
												</div>
												<div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven" aria-expanded="false" style="height: 0px;">
													<div class="panel-body pa-15">Wszystko zależy od rodzaju przesyłki. Dla przesyłek pocztowych z Chin średni czas nadejścia do Polski (do którego należy doliczyć kilka dni do doręczenia) to 30 dni</div>
												</div>
											</div>
											<div class="panel panel-default">
												<div class="panel-heading" role="tab" id="headingEight">
													<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">Co oznacza status zatrzymanie w cle.</a>
												</div>
												<div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
													<div class="panel-body pa-15"> Niestety tu już sprawa się komplikuje z tego powdu że na pewno będziemy musieli zapłacić vat lub cło, do paru dni przyjdzie do was zwykłą pocztą informacja z urzędu celnego. </div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
					</div>
					</div>